:root {
  --rich-black: #04151fff;
  --dark-slate-gray: #183a37ff;
  --wheat: #efd6acff;
  --mahogany: #c44900ff;
  --dark-purple: #432534ff;
}
body {
  background: var(--dark-slate-gray);
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Raleway", sans-serif;
}

h1 h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  line-height: 2;
}

p {
  font-size: 16px;
  line-height: 1.87;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  border: 0px;
}

.list {
  list-style: none;
}

a {
  list-style-type: none;
  text-decoration: none;
  transition-property: color;
}
.header {
}
.nav {
  background: var(--rich-black);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: var(--mahogany);
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav__list--link {
  color: var(--mahogany);
}
.main {
  height: 90hp;
}
.footer {
  padding: 20px 40px;
  color: var(--mahogany);
  background: var(--rich-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
